parameters:
    'condition.group.workflow':
        - 'Ergonode\Condition\Domain\Condition\AttributeExistsCondition'
        - 'Ergonode\Condition\Domain\Condition\NumericAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\OptionAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\TextAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\LanguageCompletenessCondition'
        - 'Ergonode\Condition\Domain\Condition\ProductCompletenessCondition'
        - 'Ergonode\Condition\Domain\Condition\RoleExactlyCondition'
        - 'Ergonode\Condition\Domain\Condition\UserExactlyCondition'
    'condition.group.segment':
        - 'Ergonode\Condition\Domain\Condition\AttributeExistsCondition'
        - 'Ergonode\Condition\Domain\Condition\NumericAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\OptionAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\TextAttributeValueCondition'
        - 'Ergonode\Condition\Domain\Condition\LanguageCompletenessCondition'
        - 'Ergonode\Condition\Domain\Condition\ProductCompletenessCondition'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Ergonode\Condition\Application\:
        resource: '../../Application/*'

    Ergonode\Condition\Application\Controller\Api\:
        resource: '../../Application/Controller/Api/*'
        tags: ['controller.service_arguments']

    Ergonode\Condition\Persistence\:
        resource: '../../Persistence/*'

    Ergonode\Condition\Domain\:
        resource: '../../Domain/*'
        exclude: '../../Domain/{Entity,ValueObject,Condition}'

    Ergonode\Condition\Infrastructure\:
        resource: '../../Infrastructure/*'

    Ergonode\Condition\Infrastructure\Handler\:
        resource: '../../Infrastructure/Handler/*'
        exclude: '../../Infrastructure/Handler/{Strategy}'
        tags: ['messenger.message_handler']

    Ergonode\Condition\Infrastructure\JMS\Serializer\Handler\:
        resource: '../../Infrastructure/JMS/Serializer/Handler/*'
        tags: ['jms_serializer.subscribing_handler']

    Ergonode\Condition\Infrastructure\JMS\Serializer\Handler\ConditionInterfaceHandler:
        calls:
            - ['set', ['Ergonode\Condition\Domain\Condition\AttributeExistsCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\NumericAttributeValueCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\OptionAttributeValueCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\TextAttributeValueCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\LanguageCompletenessCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\ProductCompletenessCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\RoleExactlyCondition']]
            - ['set', ['Ergonode\Condition\Domain\Condition\UserExactlyCondition']]

    Ergonode\Condition\Domain\Provider\ConditionDictionaryProvider:
        calls:
            - ['set', ['workflow', '%condition.group.workflow%']]
            - ['set', ['segment', '%condition.group.segment%']]

    Ergonode\Condition\Domain\Query\ConditionSetQueryInterface: '@Ergonode\Condition\Persistence\Dbal\Query\DbalConditionSetQuery'
    Ergonode\Condition\Domain\Repository\ConditionSetRepositoryInterface: '@Ergonode\Condition\Persistence\Dbal\Repository\DbalConditionSetRepository'
