framework:
    messenger:
        buses:
            event.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - 'Ergonode\EventSourcing\Infrastructure\Middleware\DbalTransactionMiddleware'
                    - 'handle_message'
            messenger.bus.sync:
                default_middleware: false
                middleware:
                    - 'handle_message'
            messenger.bus.async:
                default_middleware: false
                middleware:
                    - 'send_message'
                    - 'handle_message'
        default_bus: messenger.bus.sync
        transports:
            import: "%env(MESSENGER_TRANSPORT_IMPORT_DSN)%"
            channel: "%env(MESSENGER_TRANSPORT_CHANNEL_DSN)%"
            export: "%env(MESSENGER_TRANSPORT_EXPORT_DSN)%"
            core: "%env(MESSENGER_TRANSPORT_CORE_DSN)%"
            event: "%env(MESSENGER_TRANSPORT_DOMAIN_DSN)%"
        routing:
            'Ergonode\Importer\Domain\Command\Import\StartImportCommand' : import
            'Ergonode\Importer\Domain\Command\Import\StopImportCommand' : import
            'Ergonode\Importer\Domain\Command\Import\ProcessImportCommand' : import
            'Ergonode\Importer\Domain\Command\Import\EndImportCommand' : import
            'Ergonode\Importer\Domain\Command\Import\ErrorImportCommand' : import
            'Ergonode\Product\Domain\Command\CreateProductCommand': core
            'Ergonode\Product\Domain\Command\UpdateProductCommand': core
