framework:
    messenger:
        buses:
            event.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - 'Ergonode\EventSourcing\Infrastructure\Middleware\DbalTransactionMiddleware'
            messenger.bus.sync:
                default_middleware: false
                middleware:
                    - 'Ergonode\Authentication\Application\Middleware\AuthenticationMiddleware'
                    - 'handle_message'
            messenger.bus.async:
                default_middleware: false
                middleware:
                    - 'Ergonode\Authentication\Application\Middleware\GetUserMiddleware'
                    - 'send_message'
                    - 'handle_message'
        default_bus: messenger.bus.sync
        transports:
            import: "%env(MESSENGER_TRANSPORT_IMPORT_DSN)%"
            export: "%env(MESSENGER_TRANSPORT_EXPORT_DSN)%"
            core: "%env(MESSENGER_TRANSPORT_CORE_DSN)%"
            segment: "%env(MESSENGER_TRANSPORT_SEGMENT_DSN)%"
            completeness: "%env(MESSENGER_TRANSPORT_COMPLETENESS_DSN)%"
            notification: "%env(MESSENGER_TRANSPORT_NOTIFICATION_DSN)%"
        routing:
#            'Ergonode\Attribute\Domain\Command\CreateAttributeCommand': core
#            'Ergonode\Attribute\Domain\Command\UpdateAttributeCommand': core

ergonode_attribute:
    messenger:
        transport_name_import: 'import'

ergonode_category:
    messenger:
        transport_name_import: 'import'
        transport_name: 'core'

ergonode_completeness:
    messenger:
        transport_name: 'completeness'

ergonode_designer:
    messenger:
        transport_name: 'core'
        transport_name_import: 'import'

ergonode_channel:
    messenger:
        transport_name: 'export'

ergonode_exporter_file:
    messenger:
        transport_name: 'export'

ergonode_exporter_shopware6:
    messenger:
        transport_name: 'export'

ergonode_mailer:
    messenger:
        transport_name: 'notification'

ergonode_product:
    messenger:
        transport_name_import: 'import'
        
ergonode_multimedia:
    messenger:
        transport_name_import: 'import'
        
ergonode_importer:
    messenger:
        transport_name: 'import'

ergonode_segment:
    messenger:
        transport_name: 'segment'

