framework:
    messenger:
        serializer:
            default_serializer: 'messenger.transport.symfony_serializer'
        default_bus: messenger.bus.sync
        transports:
            import: "%env(MESSENGER_TRANSPORT_IMPORT_DSN)%"
            export: "%env(MESSENGER_TRANSPORT_EXPORT_DSN)%"
            core: "%env(MESSENGER_TRANSPORT_CORE_DSN)%"
            notification: "%env(MESSENGER_TRANSPORT_NOTIFICATION_DSN)%"
            batch_action: "%env(MESSENGER_TRANSPORT_BATCH_ACTION_DSN)%"

ergonode_batch_action:
    messenger:
        transport_name: 'batch_action'

ergonode_category:
    messenger:
        transport_name: 'core'

ergonode_designer:
    messenger:
        transport_name: 'core'

ergonode_channel:
    messenger:
        transport_name: 'export'

ergonode_exporter_file:
    messenger:
        transport_name: 'export'

ergonode_exporter_shopware6:
    messenger:
        transport_name: 'export'

ergonode_mailer:
    messenger:
        transport_name: 'notification'

ergonode_importer:
    messenger:
        transport_name: 'import'