
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/import
/src
!/src/Kernel.php
!/src/Resources/fixtures
!/src/Resources/image
/tmp
.history
.idea
.vscode
/build
/.deptrac.cache
/.*.pid

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> infection/infection ###
infection.log
###< infection/infection ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
