default:
    suites:
        default:
            contexts:
                - StorageContext:
                - ApiContext:
                - FeatureContext:
                    kernel: '@kernel'
                - AuthenticationContext:
                    username: 'test@ergonode.com'
                    password: 'abcd1234'
                - AttributeContext:

    extensions:
        App\Tests\Behat\Extension\EnvVarProcessorExtension: ~
        Behat\Symfony2Extension:
            kernel:
                bootstrap: 'features/bootstrap/bootstrap.php'
                class: 'App\Kernel'
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: '%env(APP_URL)%'
                timeout: 5.0
                verify: false
