default:
    suites:
        default:
            paths:
                - module/account/features
                - module/api/features
                - module/attribute/features
                - module/authentication/features
                - module/category/features
                - module/channel/features
                - module/comment/features
                - module/completeness/features
                - module/condition/features
                - module/core/features
                - module/designer/features
                - module/editor/features
                - module/event-sourcing/features
                - module/exporter/features
                - module/fixture/features
                - module/generator/features
                - module/grid/features
                - module/importer/features
                - module/importer-magento-1/features
                - module/importer-magento-2/features
                - module/migration/features
                - module/multimedia/features
                - module/notification/features
                - module/product/features
                - module/product-collection/features
                - module/product-simple/features
                - module/reader/features
                - module/segment/features
                - module/transformer/features
                - module/translation-deepl/features
                - module/value/features
                - module/workflow/features

            contexts:
                - App\Tests\Behat\Context\StoreRestResponseParamContext
                - App\Tests\Behat\Context\UserContext
                - App\Tests\Behat\Context\ResolveVarsContext
                - App\Tests\Behat\Context\ApiAuthContext:
                    JWTTokenManager: '@lexik_jwt_authentication.jwt_manager'
                    request: '@Behatch\HttpCall\Request'
                - App\Tests\Behat\Context\UploadFileContext
                - behatch:context:rest
                - behatch:context:json
                - behatch:context:debug
                - Behat\MinkExtension\Context\MinkContext
                - StorageContext:
                - AuthenticationContext:
                    username: 'test@ergonode.com'
                    password: 'abcd1234'


    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behatch\Extension: ~
        Behat\MinkExtension:
            base_url: '%env(APP_URL)%'
            sessions:
                default:
                    symfony2: ~
        App\Tests\Behat\Extension\EnvVarProcessorExtension: ~
        Behat\Symfony2Extension:
            kernel:
                bootstrap: 'features/bootstrap/bootstrap.php'
                class: 'App\Kernel'
