default:
    suites:
        default:
            paths:
                - module/account/features
                - module/api/features
                - module/attribute/features
                - module/authentication/features
                - module/batch-action/features
                - module/category/features
                - module/channel/features
                - module/comment/features
                - module/completeness/features
                - module/condition/features
                - module/core/features
                - module/designer/features
                - module/exporter-file/features
                - module/grid/features
                - module/importer/features
                - module/importer-ergonode-1/features
                - module/multimedia/features
                - module/notification/features
                - module/product/features
                - module/product-collection/features
                - module/segment/features
                - module/workflow/features

            contexts:
                - Ergonode\Core\Test\Behat\Context\StoreRestResponseParamContext
                - Ergonode\Core\Test\Behat\Context\UserContext
                - Ergonode\Core\Test\Behat\Context\ResolveVarsContext
                - Ergonode\Core\Test\Behat\Context\ApiAuthContext
                - Ergonode\Core\Test\Behat\Context\ApiAuthTokenContext
                - Ergonode\Core\Test\Behat\Context\UploadFileContext
                - behatch:context:rest
                - behatch:context:debug
                - Behat\MinkExtension\Context\MinkContext
                - Ergonode\Core\Test\Behat\Context\StorageContext
                - Ergonode\Core\Test\Behat\Context\ExtendJsonContext
                - Ergonode\Core\Test\Behat\Context\AuthenticationContext
                - Ergonode\Core\Test\Behat\Context\TransactionalContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behatch\Extension: ~
        Behat\MinkExtension:
            base_url: '%env(APP_URL)%'
            sessions:
                default:
                    symfony: ~
        Ergonode\Core\Test\Behat\Extension\EnvVarProcessorExtension: ~
        Ergonode\Core\Test\Behat\Extension\DAMAStaticConnectionExtension: ~
        Ergonode\Core\Test\Behat\Extension\BehatchBridgeExtension: ~
