<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg value="p"/>
    <config name="installed_paths" value="vendor/escapestudios/symfony2-coding-standard,vendor/slevomat/coding-standard"/>

    <!-- Include Symfony2 Coding Standard -->
    <rule ref="Symfony">
        <exclude name="Symfony.Commenting"/>
        <exclude name="Zend.NamingConventions.ValidVariableName"/>
    </rule>
    <rule ref="Symfony.Functions.Arguments.Invalid">
         <severity>0</severity>
    </rule>
    <rule ref="Generic.Files.LineLength.MaxExceeded">
         <type>error</type>
    </rule>

    <rule ref="SlevomatCodingStandard.Classes.UnusedPrivateElements"/>

    <rule ref="SlevomatCodingStandard.Commenting.EmptyComment"/>

    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <property name="searchAnnotations" value="1"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
            <property name="newlinesCountBetweenOpenTagAndDeclare" value="2"/>
            <property name="spacesCountAroundEqualsSign" value="0"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.UselessAnnotation" />
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHintSpacing"/>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.UselessAnnotation" />
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.UselessAnnotation" />
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing"/>

    <!-- Directories to be checked -->
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>
    <!--<file>features/</file>-->
    <file>module/</file>
    <exclude-pattern>bin/.phpunit</exclude-pattern>
    <exclude-pattern>src/Migrations</exclude-pattern>
</ruleset>
