parameters:
    level: 2
    excludes_analyse:
        - %currentWorkingDirectory%/module/*/migrations/*
        - %currentWorkingDirectory%/module/*/tests/*
        - %currentWorkingDirectory%/module/core/src/Infrastructure/JMS/Serializer/HandlerRegistry*
    ignoreErrors:
        - '#Method Symfony\\Component\\Serializer\\Normalizer\\DenormalizerInterface::supportsDenormalization\(\) invoked with 4 parameters, 2-3 required.#'