<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <directory>module/*/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>module/*/src/Application</directory>
            <directory>module/*/src/Domain</directory>
            <directory>module/*/src/Infrastructure</directory>
            <directory>module/grid/src/*</directory>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Kernel.php">./src</directory>
                <directory>./module/*/src/Application/Controller</directory>
                <directory>./module/*/src/Application/Command</directory>
                <directory>./module/*/src/Application/DependencyInjection</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
    <logging>
        <log type="coverage-clover" target="build/reports/phpunit-clover.xml"/>
        <log type="coverage-html" target="build/reports/coverage"/>
        <log type="junit" target="build/reports/phpunit-junit.xml"/>
    </logging>
</phpunit>
