services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Ergonode\Grid\Application\:
        resource: '../../Application/*'

    Ergonode\Grid\Column\Renderer\:
        resource: '../../Column/Renderer/*'

    Ergonode\Grid\Filter\:
        resource: '../../Filter/*'

    Ergonode\Grid\Renderer\:
        resource: '../../Renderer/*'

    Ergonode\Grid\Request\:
        resource: '../../Request/*'

    Ergonode\Grid\Factory\:
        resource: '../../Factory/*'

    Ergonode\Grid\Renderer\RowRendererInterface: '@Ergonode\Grid\Renderer\RowRenderer'

    Ergonode\Grid\Filter\FilterBuilderProvider:
        arguments:
            $builderCollection: !tagged_iterator 'grid.filter_builder_provider.interface'
