services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    _instanceof:
        Ergonode\BatchAction\Infrastructure\Provider\BatchActionProcessorInterface:
            tags: ['batch_action.processor_provider.interface']

    Ergonode\BatchAction\Application\Request\ParamConverter\BatchActionParamConverter:
        tags: ['request.param_converter']
        arguments:
            - '@Ergonode\BatchAction\Domain\Repository\BatchActionRepositoryInterface'

    Ergonode\BatchAction\Application\Controller\Api\CreateBatchAction:
        tags: ['controller.service_arguments']
        arguments:
           - '@form.factory'
           - '@Ergonode\SharedKernel\Domain\Bus\CommandBusInterface'

    Ergonode\BatchAction\Application\Controller\Api\GetBatchAction:
        tags: ['controller.service_arguments']
        arguments:
            - '@Ergonode\BatchAction\Domain\Query\BatchActionQueryInterface'

    Ergonode\BatchAction\Infrastructure\Persistence\Repository\Mapper\DbalBatchActionMapper:
    Ergonode\BatchAction\Infrastructure\Persistence\Repository\DbalBatchActionRepository:
        arguments:
            - '@doctrine.dbal.default_connection'
            - '@Ergonode\BatchAction\Infrastructure\Persistence\Repository\Mapper\DbalBatchActionMapper'
            - '@Ergonode\SharedKernel\Application\Serializer\SerializerInterface'

    Ergonode\BatchAction\Infrastructure\Persistence\Query\DbalBatchActionQuery:
        arguments:
            - '@doctrine.dbal.default_connection'
            - '@translator'

    Ergonode\BatchAction\Domain\Query\BatchActionQueryInterface: '@Ergonode\BatchAction\Infrastructure\Persistence\Query\DbalBatchActionQuery'

    Ergonode\BatchAction\Domain\Repository\BatchActionRepositoryInterface: '@Ergonode\BatchAction\Infrastructure\Persistence\Repository\DbalBatchActionRepository'
    Ergonode\BatchAction\Infrastructure\Handler\CreateBatchActionCommandHandler:
        tags: ['messenger.message_handler']
        arguments:
            - '@Ergonode\BatchAction\Domain\Repository\BatchActionRepositoryInterface'
            - '@Ergonode\SharedKernel\Domain\Bus\CommandBusInterface'

    Ergonode\BatchAction\Infrastructure\Handler\ProcessBatchActionEntryCommandHandler:
        tags: ['messenger.message_handler']
        arguments:
            - '@Ergonode\BatchAction\Infrastructure\Provider\BatchActionProcessorProvider'
            - '@Ergonode\BatchAction\Domain\Repository\BatchActionRepositoryInterface'

    Ergonode\BatchAction\Infrastructure\Provider\BatchActionProcessorProvider:
        arguments:
            $strategies: !tagged_iterator 'batch_action.processor_provider.interface'

    Ergonode\BatchAction\Infrastructure\JMS\Serializer\Handler\:
        resource: '../../Infrastructure/JMS/Serializer/Handler/*'
        tags: ['jms_serializer.subscribing_handler']